.tile {
    border: 1px solid black;
    height: 50px; 
    width: 50px;
    display: flex;
    align-items: center;
    align-self:baseline;
    justify-content: center;
    background-color: gray;
}

.revealed {
    background-color: white;
}